certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
marshmallow==2.20.5
pymongo==3.9.0
pyTelegramBotAPI==3.6.6
python-dateutil==2.8.1
python-dotenv==0.10.3
requests==2.22.0
six==1.13.0
SQLAlchemy==1.3.11
umongo==2.1.1
urllib3==1.25.7
Werkzeug==0.16.0
